In [15]:
import pandas as pd

df = pd.read_csv('data/client_summary_totals.csv')
df.head()

,FirstAppointmentDate,LastAppointmentDate,TotalAppointments,TotalPaidAmount,ClientStatus
0,2023-03-08 10:30 AM,2023-03-08 10:30 AM,1,0.0,Archived
1,2024-07-22 06:15 PM,2024-09-16 05:25 PM,4,75.0,Archived
2,2025-03-07 11:30 AM,2025-03-07 11:30 AM,1,0.0,Active
3,2021-11-09 08:00 AM,2021-11-09 08:00 AM,1,0.0,Archived
4,2025-07-28 12:30 PM,2025-09-17 12:45 PM,3,0.0,Active

In [16]:
df['FirstAppointmentDate'] = pd.to_datetime(df['FirstAppointmentDate'])
df['LastAppointmentDate'] = pd.to_datetime(df['LastAppointmentDate'])

In [17]:
print("lifetime appointments", df['TotalAppointments'].sum())

lifetime appointments 2271

In [20]:
print("lifetime Paid:", f"${df['TotalPaidAmount'].sum():,.2f}")

lifetime Paid: $114,460.95